.cache/
.config/
.idea/
.ipython/
.lightning_studio/
.vscode/
__pycache__/
*.pyc
.ssh
.cursor-server
.vscode-server
.windsurf-server
lightning_logs/
nltk_punkt_data/
.ipynb_checkpoints/
spider_data/
spider_official_eval/
qwen_spider_full_sft_v2/
qwen_spider_full_sft_v3/
spider_data.zip
gradio_templates/
streamlit_templates/
